a#newxoclprojectwizard-overview img {
	background-image: url(../graphics/newxoclprojectwizard.png);
}

a#newxoclprojectwizard-overview:hover img {
	background-image: url(../graphics/newxoclprojectwizard.png);
}

a#oclannotation-overview img {
	background-image: url(../graphics/oclannotations.png);
}

a#oclannotation-overview:hover img {
	background-image: url(../graphics/oclannotations.png);
}

a#ocleditor-overview img {
	background-image: url(../graphics/ocleditor.png);
}

a#ocleditor-overview:hover img {
	background-image: url(../graphics/ocleditor.png);
}

a#tableeditor-overview img {
	background-image: url(../graphics/tableeditor.png);
}

a#tableeditor-overview:hover img {
	background-image: url(../graphics/tableeditor.png);
}
